@use "reset";

@use "variables" as v;

@use "mixins" as m;

// Header

.AppHeader {
    img {
        cursor: pointer;
    }

    hr {
        width: 50%;
        opacity: 0.5;
    }

    .nav {
        display: flex;
        justify-content: center;

        ul {
            display: flex;
            justify-content: center;

            li {
                color: v.$colorGreenMain;
                font-weight: bold;
                margin: 0 1rem;
                list-style-type: none;
                transition: all 0.3s ease-in-out;
                cursor: pointer;

                &:hover {
                    color: rgb(187, 199, 187);
                }
            }
        }
    }
}

// Globales

.container {
    max-width: 110rem;
    margin: 0 auto;
}


.ant-row {
    justify-content: center;
}

.ant-card {
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.21);

    background-color: rgb(56, 56, 56);
    color: rgb(231, 231, 231);
    text-align: center;
    min-height: 20rem;

    .ant-card-body {

        font-size: v.$fontSizedefault;
    }

    .ant-card-head {

        color: v.$colorGreenMain;
    }
}

.order {
    text-align: center;

    .wrappers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrapper {
        width: 50%;
        text-align: center;

    }

    select,
    .ant-picker {
        width: 100%;
        height: 3rem;
        margin: 2rem 0;
        background-color: rgb(221, 221, 221);
        border-radius: 10rem;
    }


    textarea {
        width: 100%;
        height: 5rem;
        background-color: rgb(221, 221, 221);
        border-radius: 10rem;
        margin: 2rem 0;
        padding: 1rem;


    }


    .myButton {

        font-weight: 100;
        font-size: 16px;
        color: #fff;
        background-color: #11610c;
        padding: 10px 30px;
        border: none;
        box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
        border-radius: 17px;
        transition: 1173ms;
        transform: translateY(0);
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }

    .myButton:hover {

        transition: 1000ms;
        padding: 10px 57px;
        transform: translateY(-2px);
        background-color: #368a1f;
        color: #ffffff;
        border: solid 1px #0066cc;
    }

}

.printButton {
    font-weight: 100;
    font-size: 16px;
    color: #fff;
    background-color: #11610c;
    padding: 10px 30px;

    border-radius: 17px;
    transition: 1173ms;
    transform: translateY(0);
    display: inline;
    cursor: pointer;

    &:hover {
        transition: all 300ms ease-in-out;
        padding: 10px 37px;

        background-color: #368a1f;
        color: #ffffff;
        border: solid 1px #0066cc;
    }
}

.currentAvis {
    text-align: center;

    h2 {
        color: rgb(0, 128, 64);
    }

    strong {
        color: v.$colorGreenMain;

    }
}